@font-face {
  font-family: 'integral';
  src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff2') format('woff2'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff') format('woff'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'asterisk';
  src: url('fonts/Glyphter.woff2') format('woff2'),
      url('fonts/Glyphter.woff') format('woff'),
      url('fonts/Glyphter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'integral';
  src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff') format('woff'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'times-new-roman-condensed';
  src: url('fonts/TimesNewRomanMTStd-Cond.woff2') format('woff2'),
      url('fonts/TimesNewRomanMTStd-Cond.woff') format('woff'),
      url('fonts/TimesNewRomanMTStd-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'times-new-roman-condensed';
  src: url('fonts/TimesNewRomanMTStd-CondIt.woff2') format('woff2'),
      url('fonts/TimesNewRomanMTStd-CondIt.woff') format('woff'),
      url('fonts/TimesNewRomanMTStd-CondIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'times-new-roman-condensed';
  src: url('fonts/TimesNewRomanMTStd-CondIt_1.woff2') format('woff2'),
      url('fonts/TimesNewRomanMTStd-CondIt_1.woff') format('woff'),
      url('fonts/TimesNewRomanMTStd-CondIt_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'cabazon';
  src: url('fonts/CabazonW01-Regular.woff2') format('woff2'),
      url('fonts/CabazonW01-Regular.woff') format('woff'),
      url('fonts/CabazonW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'integral';
  src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic_1.woff2') format('woff2'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic_1.woff') format('woff'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic_1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'cabazon';
  src: url('fonts/CabazonW01-Regular_1.woff2') format('woff2'),
      url('fonts/CabazonW01-Regular_1.woff') format('woff'),
      url('fonts/CabazonW01-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'asterisk';
  src: url('fonts/Glyphter_1.woff2') format('woff2'),
      url('fonts/Glyphter_1.woff') format('woff'),
      url('fonts/Glyphter_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'integral';
  src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular_1.woff2') format('woff2'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular_1.woff') format('woff'),
      url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('fonts/YoungSerif-Regular.woff2') format('woff2'),
      url('fonts/YoungSerif-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/AppleGaramond-Bold.woff2') format('woff2'),
      url('fonts/AppleGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('fonts/AppleGaramond-Bold.woff2') format('woff2'),
      url('fonts/AppleGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
      url('fonts/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newake Demo';
  src: url('fonts/NewakeDemo.woff2') format('woff2'),
      url('fonts/NewakeDemo.woff') format('woff'),
      url('fonts/Newake-Font-Demo.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* html, body {
  height: 100dvh;
  overflow: hidden;
} */

#root {
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

.expanding {
  display: flex;
  width: 100vw;
  max-width: 100%;
}

.entrance-screen {
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Change this to your preferred background color */
}

.zstack {
  display: grid;
  justify-items: center;
  align-items: center;
  
}
.zstack > * {
  grid-column: 1;
  grid-row: 1; 
  margin: auto;
}

.vstack {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vstack.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vstack.leading {
  justify-content: flex-start;
  align-items: flex-start
}

.hstack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hstack::-webkit-scrollbar {
  display: none;
}

.hstack.space-between {
  box-sizing: border-box;
  width: 100%;
  justify-content: space-evenly;
}

.hstack.leading {
  justify-content: flex-start;
  align-items: flex-start
}

.hstack.space-between > * {
  margin-left: auto;
  margin-right: auto;
}

.hstack.space-between > :first-child {
  margin-left: 0;
}

.hstack.space-between > :last-child {
  margin-right: 0;
}

.hstack.bottom-alignment {
  align-items: flex-end;
}

.changing-stack {
  width: 500px;
  display: flex;
  flex-direction: column; /* Initially, it mimics a vstack */
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s cubic-bezier(0, 0.4, 0.4, 1);
}

changing-alignment {
  justify-content: center;
  align-items: center;
}

h3.scaling-text {
  font-size: 2.6ddvh;
}

h5.scaling-text {
  font-size: 1.8vh;
}


@media (min-height: 700px) {
  h1.scaling-text {
    font-size: 2em;
  }
  h2.scaling-text {
    font-size: 1.5em;
  }
  h3.scaling-text {
    font-size: 1.17em;
  }
  h4.scaling-text {
    font-size: 1em;
  }
  h5.scaling-text {
    font-size: 0.83em;
  }
  h6.scaling-text {
    font-size: 0.67em;
  }
}

/* Media query for screens larger than 500px */
@media (min-width: 500px) {
  .changing-stack {
    flex-direction: row; /* Change to hstack on larger screens */
    text-align: left;
  }

  .changing-alignment {
    justify-content: flex-start;
    align-items: flex-start
  }
}

.changing-stack > .vstack {
  max-width: calc(100vw - 40px);
}

.specialCharacters {
  font-weight: 600;
  font-style: italic;
}

.stroked {
  -webkit-text-stroke: 0.8px;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 10px;
  font-style: italic;
}

#asterisk-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visible {
  opacity: 1;
}
.not-visible {
  opacity: 0;
}

#main-scroll-view {
  /* height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity; */
}

#our-work {
  scroll-snap-align: center;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

#our-work-entrance {
  display: flex;
  width: calc(100vw - 20px);
  height: 100dvh;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  padding-top: 133px;
  padding-bottom: 138px;
}

#our-work-entrance::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
#our-work-navigation::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

#our-work-navigation {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-navigation-item {
  z-index: 1000;
  width: min-content;
}

.work-detail {
  animation-name: bottomFadeIn;
  animation-duration: 0.5s;
  
}

.work-detail.no-scroll {
  height: calc(100dvh - 271px);
}

.animated {
  transition: all 0.5s cubic-bezier(0, 0.4, 0.4, 1);
}
.animated-quick {
  transition: all 0.25s cubic-bezier(0, 0.4, 0.4, 1);
}
.animated-width {
  width: auto;
  transition: max-width 0.5s cubic-bezier(0, 0.4, 0.4, 1);
}

.animated-width.active {
  max-width: 100%;
}
.animated-width.inactive {
  max-width: 0%;
}

#our-work-bar {
  position: fixed;
  top: 0;
}

#our-work-call-to-action {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.call-to-action-primary {
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.call-to-action-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  transition: text-decoration-color 300ms;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  align-items: flex-end;
  height: min-content;
  z-index: 1000;
}

.logo {
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

.app-icon {
  height: 85px;
  width: 85px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 18%
}

.app-store-icon {
  height: 35px;
  width: 35px;
  object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(66, 138, 205, 0.6));
  filter: drop-shadow(0px 0px 20px rgba(66, 138, 205, 0.6));
  transform: translate(25px, 35px);
}

.image {
  object-fit: cover;
}

.image-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.call-to-action-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "integral";
}
.call-to-action-text.small {
  font-size: 1rem;
  font-weight: 1000;
  font-family: "SFProDisplay";
}

.max-detail-text {
  text-align: start;
  max-width: 300px;
  width: auto;
}

@keyframes bottomFadeIn {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


.space-between-row {
  width: calc(100vw - 40px);
  max-width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.space-between-row:first-child {
  padding-top: 16px;
  padding-bottom: 24px;
}
.space-between-row:last-child {
  padding-top: 24px;
  padding-bottom: 16px;
}

.our-work-text {
  margin: 0 auto 0 auto;
  color: #333;
  font-size: 3vw;
}
h2.our-work-text {
  font-family: "asterisk";
  color: #333;
  text-decoration: none;
  font-size: 2vw;
}

.our-work-text:first-child {
  margin-left: 0;
  margin-right: auto;
}
.our-work-text:last-child {
  margin-left: auto;
  margin-right: 0;
}

.one {
  font-family: "YoungSerif";
}
.two {
  font-family: "Cabazon";
}
.three {
  font-family: "Apple Garamond";
}

h1 {
  font-family: "integral";
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

h1 span {
  font-family: "asterisk";
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
}

h3 {
  font-family: "times-new-roman-condensed";
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.text-width  {
  display: flex;
  flex-grow: 0; /* Don't allow the flex item to grow */
  flex-shrink: 0; /* Don't allow the flex item to shrink */
  flex-basis: auto;
  text-wrap: nowrap;
  margin: 0;
}

.center-text {
  text-align: center;
}

.divider {
  display: flex;
  flex: 1;
  height: 2px;
  margin: 10px;
}